*{
    font-family: arial;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.profileViewBar{
    background-color: #0A0A0A;
    min-height: 100vh;
    max-width: 20vw;
    display: flex;
    flex-direction: column;
    border-bottom: solid 5px #7B889E;
    justify-content: space-between;
}

.profileViewBar a{
    color: #F6AE2D;
}

.profileViewBar a:hover{
    color:#DD962C;
}

.profileViewBar .Topo{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    align-items:center;
    height: 200px; 

}

.profileViewBar img{
    width: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    
}


.profileViewBar .TopoDireita{
    height: 47px;
    width: 207px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.profileMenu{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#profileMenuPic{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
    height: 70px;
    background-color: #0A0A0A;
    border: solid #4e586a 2px;
    color: #F6AE2D;
}


#profileMenuPic img{
    height: 40px;
    width: 40px;
    border: solid #f6ae2d 2px;
    border-radius: 50px;
    background-color: #0a0a0a;
    margin: 5px;
    background-image: url(./img/profile3.jpg);
    background-position: center;
    background-size:cover;
}

.profileMenu:hover i{
    color: #DD962C;
}

#profileMenuPic:hover img{
    border:solid #DD962C 2px;
}

.dropdownLogged{
    display: none;
    background-color: #4e586ae7;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 5px;
    padding-top: 20px;
}

.profileMenu:hover .dropdownLogged{
    display: block;
    position: relative;
    align-items: flex-end;
}

.profileViewBar li{
    list-style-type: none;
    font-size: 12px;
    padding: 10px;
}



.profileViewBar .LinksPrincipais{
    text-align: center;
    font-weight: bolder;
    margin-bottom: 15px;

}

.dropbtn {
    background-color: #0A0A0A;
    width: auto;
    font-size: 15px;
    font-weight: bolder;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-size: 13px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #4E586A;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 5px;
    padding-top: 20px;
  }

  .dropdown-content a{
    color: #0A0A0A;
    
}
  .dropdown-content a:hover {
    background-color: #f5f5f5;
    color: #DD962C;
    width: 100%;
}

  .dropdown:hover .dropdown-content {
    display: block;
    background-color: #4e586a86;
    color: #0A0A0A;
    width: 100%;
    line-height: 20px;
}

  .dropdown:hover .dropbtn {
    background-color: #dd962c;

}

.dropbtn a:hover{
    color: #f5f5f5;
}

.Barra{
    display: flex;
    flex-direction: column;
    align-items:center;
    align-content: center;
    justify-content: space-between;
    height: 200px;
    
} 

.profieViewBar .leftBar{
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    
}

.profieViewBar .rightBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    margin-bottom: 10px;
}

.iconeLupa{
    text-align: center;
    height: 15px;
    margin-bottom: 25px;
    color: #F6AE2D;
}

#formBusca{
    border: 2px solid #4E586A;
    border-radius: 5px;
    height: 25px;
    width: 100%;
    padding: 2px 2px 2px 2px;
    outline: 0;
    background-color: #f5f5f5;
}


.bttmRightBar .institucionais{
 
    background-color: #0A0A0A;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.bttmRightBar .rodape{
    
    margin-bottom: 10px;
}

.bttmRightBar a{
    color: #F6AE2D;
    font-weight: bolder;
}

.bttmRightBar a:hover{
    color:#DD962C;
}

.bttmRightBar .redes{
    color:#F6AE2D;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-bottom: 20px;
}

.bttmRightBar .redes i:hover{
    color:#DD962C
}



body{
    background-color: #f5f5f5;
    min-height: 100vh;
}

.mainMenu{
    display: none;
    margin-top: 10px;
    margin-left: 10px;
    border: solid #0a0a0a 2px;
    height: 50px;
    width: 50px;
    border-radius:50%;
    position: absolute;
    color: #0a0a0a;
    background-color: #DD962C;
}

.mainMenu:hover{
    border: solid #4e586a 2px;
    background-color: #0A0A0A;
    color: #F6AE2D;
}

.mainMenu:active{
    background-color: #DD962C;
    color: #0a0a0a;
    transform: translateY(4px);
}

body .container{
    display: flex;
    justify-content: space-between;
    min-width: 90vw;
}


.mainNew img{
    height: 100vh;
    ;
}

.rightNew{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:250px;
    height: 100vh;
    background-color: #0A0A0A;
    color: #DD962C;
    
}

.profileContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.profileContent .bio{
    border: #DD962C solid 2px;
    margin: 10px;
    margin-top: 15px;
    text-align: left;
    color: #f5f5f5;
}



.profileContent .socialLinksUser{
    display: flex;
    justify-content: center;
}

.profileContent a{
    text-decoration: none;
    color: #f5f5f5;
}

.profileContent i{
    padding: 10px;
}

.profileContent a:hover{
    color: #DD962C;
}

.authorPastThreads{
    width: 210px;
    border: #DD962C solid 2px;
    margin: 10px;
    margin-top: 15px;
    text-align: left;
}

.authorPastThreads li{
    padding: 10px;
    list-style-type: none;
    font-size: 12px;
}

.moreOptions{
    display: none;
    margin-top: 10px;
    margin-left: 10px;
    border: solid #0a0a0a 2px;
    height: 50px;
    width: 60%;
    color: #0a0a0a;
    background-color: #DD962C;
}

.moreOptions:hover{
    border: solid #4e586a 2px;
    background-color: #0A0A0A;
    color: #F6AE2D;
}

.moreOptions:active{
    background-color: #DD962C;
    color: #0a0a0a;
    transform: translateY(4px);
}

@media screen and (max-width: 770px) {
    
    .mainMenu{
        display: block;
    }

    .mainNew{
        width: 100vw;
        justify-content: center;
    }

    .container{
        flex-direction: column;
        max-height: 100vh;
        height: fit-content;
    }
    .profileViewBar{
        display: none;
    }

    .mainNew img{
        margin-left: 15px;
        max-width: 90%;
        height: auto;

    }

    .rightNew{
        display: none;
    }

    .moreOptions{
        display:block;
        margin-left: auto;
        margin-right: auto;
    }

}