<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">



    <title>
        <%= title %>
    </title>
</head>

<body>
    <header>
        <nav class="headerNav">
            <a href="/home">Home</a>
            <a href="/ranking">Ranking</a>
            <a href="/categories">Categorias</a>
            <a href="/search">Busca</a>
        </nav>
        <section class="main-logo">
            <img src="/images/primarylogo_border.png" alt="Logo Principal">
        </section>
        <section class="alternative-logo">
            <img class="logoIcon" src="/images/icon.png" alt="Logo Alternativo">
        </section>

        <section class="UserBlock">

            <div class="TopoDireita">
                <div class="profileMenu">
                    <div id="profileMenuPic">
                        <a href="/profileview">
                            <img src='../../<%= user.avatar.path %>' alt="profile picture on dropdown menu"></a>
                        <a href="#"><i class="fas fa-sort-down"></i></a>
                    </div>
                    <div class="dropdownLogged">
                        <li><a href="/dashboard">Painel de Controle</a></li>
                        <li><a href="/newthread">Crie um Novo Fio</a></li>
                        <li><a href="/threadsmgmt">Gerenciar meus Fios</a></li>
                        <li><a href="/profileview">Visualizar meu Perfil</a></li>
                        <li><a href="/accountmgmt">Editar minha Conta</a></li>
                        <br>
                        <li class="logoutMenu"><a href="/logout">Sair</a></li>
                    </div>
                </div>
            </div>
            </div>

        </section>
    </header>