<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <link rel="stylesheet" type="text/css" href="./headerAndFooter.css">

    <title>
        <%= title %>
    </title>
</head>

<body>
    <header>
        <nav class="headerNav">
            <a href="/home">Home</a>
            <a href="/ranking">Ranking</a>
            <a href="/categories">Categorias</a>
            <a href="/search">Busca</a>
        </nav>
        <section class="main-logo">
                <img src="/images/primarylogo_border.png" alt="Logo Principal">
        </section>
        <section class="alternative-logo">
            <img class="logoIcon" src="/images/icon.png" alt="Logo Alternativo">
        </section>
        
        <section class="UserBlock">
            
                <a href="/login">Fazer Login</a>
                <button>Cadastre-se</button>
           
        </section>
    </header>

    