*{
    font-family: arial;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
    min-height: 100vh;
}

.mainMenu{
    margin-top: 10px;
    margin-left: 10px;
    border: solid #0a0a0a 2px;
    height: 50px;
    width: 50px;
    border-radius:50%;
    position: absolute;
    color: #0a0a0a;
    background-color: #DD962C;
}

.mainMenu:hover{
    border: solid #4e586a 2px;
    background-color: #0A0A0A;
    color: #F6AE2D;
}

.mainMenu:active{
    background-color: #DD962C;
    color: #0a0a0a;
    transform: translateY(4px);
}

body .container{
    display: flex;
    min-width: 100vw;
}
.mainNew{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}

.mainNew .newPost{
    display: flex;
    flex-direction: column;
}

.mainNew .imageUploads{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #DD962C solid 3px;
    margin-top: 5px;
}

.postHeaderSelection{
    width: 60vh;
    padding: 5px;
}

.uploadSection{
    align-self: center;
    padding: 5px;
    font-size: 13px;
}

.breakPost{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.leftBreakPost{
    border-right: #DD962C solid 3px;
    width: 50vh;
    align-self: stretch;

    
}

.rightBreakPost{
    border-left: #DD962C solid 3px;
    width: 50vh;
    align-self: stretch;
}

.newPostThreadTitle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newPostThreadTitleBox{
    width: 70%;
    height: 50px;

    border: #DD962C solid 2px;
    border-radius: 10px;

    font-size: large;
    text-align: center;
}
.newPostThreadDescription{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newPostThreadDescriptionBox{
    width: 70%;
    height: 50px;
    border: #DD962C solid 2px;
    border-radius: 10px;
    padding: 5px;
}

.dropdownUploadGrid {
    margin-left: auto;
    margin-right: auto;
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropUploadbtn {
    justify-self: flex-start;
    height: 60px;
    width: 60px;
    border: solid #DD962C 2px;
    border-radius: 50%;
    background-color: #f5f5f5;
    color:#0A0A0A;
    font-size: 16px;
}

.dropUploadbtn:hover{
    border: solid #F6AE2D 2px;
    color:#F6AE2D;
    background-color: #0A0A0A;
}

.dropdownUploadcontent{
    display: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 20px;
    z-index: 1;
}

.dropdownUploadGrid:hover .dropdownUploadcontent{
    display:flex;
    flex-direction: column;
    margin-top: -20px;
    justify-content: space-around;
    align-items: center;
}

.categoriesGrid{
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

.catItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 60px;
    width: 60px;

    padding: 4px;
    
    -webkit-box-shadow: 0px 0px 30px 0px #4e586a65;
    -moz-box-shadow:    0px 0px 30px 0px #4e586a65;
    box-shadow:         0px 0px 30px 0px #4e586a65;
}

.catItem:hover{
    color: #DD962C;
}

.catItem:active{
    background-color: #DD962C;
    color: #0a0a0a;
    transform: translateY(4px);
}

.catItem i{
    margin-bottom: 10px;
}

.rightNew{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 100vh;
    background-color: #4e586a;
    
}

.settingsBar1{
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.settingsBar1 h3{
    font-size: 20px;
    color: #DD962C;
}

.settingsBar2{
    display: flex;
    flex-direction: column;
}

.settingsBarSplit{
    display: flex;
    justify-content:space-between;
    padding: 5px;
}

.customSettings{
    border: #0a0a0a 2px solid;
    background-color: #DD962C;
    color: #0a0a0a;
    width: 110px;
    height: 55px;
    margin: 5px;
}

.customSettings:hover{
    border: solid #4e586a 2px;
    background-color: #0A0A0A;
    color: #F6AE2D;
}

.customSettings:active{
    color: #0A0A0A;
    background-color: #F6AE2D;
    transform: translateY(4px);
}

.settingsBar3{
    align-self: flex-start;
    line-height: 35px;
    font-size: 14px;
    margin-left: 30px;
}

.settingsBar3 label{
    font-weight: bold;
    font-size: 16px;
}

.settingsBar3 input{
    margin-right: 5px;
}

.settingsBar4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

.publishPost{
    border: #0a0a0a 2px solid;
    background-color: #DD962C;
    color: #0a0a0a;
    width: 110px;
    height: 55px;
    margin: 5px;
}

.publishPost:hover{
    border: solid #4e586a 2px;
    background-color: #0A0A0A;
    color: #F6AE2D;
}

.publishPost:active{
    color: #0A0A0A;
    background-color: #F6AE2D;
    transform: translateY(4px);
}

.settingsBar4 p{
    font-size: 12px;
    text-align: center;
}

.settingsBar4 a{
    text-decoration: none;
    color: #DD962C;
    font-size: 12px;
    text-align: center;
}

.settingsBar4 a:hover{
    color: #F6AE2D;
    text-decoration: underline;
}

.settingsBar5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    margin-top: 30px;
    height: 80px;
}

.deletePost{
    border: #0a0a0a 2px solid;
    background-color: #DD962C;
    color: #0a0a0a;
    width: 110px;
    height: 25px;
    margin: 5px;
    font-size: 12px;
}

.deletePost:hover{
    border: solid #fff 2px;
    background-color: #ff0000;
    color: #fff;
}

.deletePost:active{
    color: #ff0000;
    background-color: #fff;
    transform: translateY(4px);
}

@media screen and (max-width:1326px) and (min-width:931px){

    .leftNew{
        display: none;
    }

    .postHeaderSelection{
        width: 300px;
    }

    .settingsBar2{
        height: 220px;
    }
    .settingsBarSplit{
        flex-direction: column;
        height: 110px;

    }
    .rightNew{
        height: auto;
    }

    .settingsBar1 h3{
        font-size: 15px;
    }

    .settingsBar3{
        font-size: 12px;
        
    }
    
    .settingsBar3 label{
        font-weight: bold;
        font-size: 12px;
    }

    .settingsBar4{
        margin-top: 0;
    }

    .settingsBar5{
        margin-top: 5px;
    }

}

    

@media screen and (max-width: 930px) {
    

    .container{
        flex-direction: column;
        min-height: 100vh;
        height: fit-content;
    }

    .leftNew{
        display: none;
    }

    .breakPost{
        display: none;
    }

    .mainNew{
        margin-left: auto;
        margin-right: auto;
    }

    .newPost, .imageUploads, .newPostThreadTitle, .newPostThreadDescription, .dropdownUploadGrid{
        margin-top: 10px;
    }

    .dropdownUploadGrid{
        margin-top: 10px;
        height: 300px;
    }

    .postHeaderSelection{
        width: 200px;
    }

    .breakPost{
        display: none;
    }

    .rightNew{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    .settingsBar3{
        align-self: center;
        margin: 0;
    }

    .settingsBar4{
        margin-bottom: 10px;
    }

    .settingsBar5{
        align-items: flex-start;
        margin-top: 0;
        height: auto;
    }


}