*{
    font-family: arial;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
}

.container{
    display: flex;
    width: 100%;
    min-height: 100%;
    align-items: center;
    justify-content: center;
}

.main{
    width: 900px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pageTitle{
    padding: 15px;
    margin: 5px;
    margin-bottom: 30px;
    font-weight: bolder;
    color: #0a0a0a;
    font-size: 25px;
}

.rankBox{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.rankItem{
    width: 300px;
    border: #4e586a solid 3px;
}

.rankItem ul{
    font-weight: bold;
    padding: 5px;
}

.rankItem li{
    list-style-type: none;
    padding-left: 10px;
    padding-bottom: 5px;
}

.topCategoriesBox{
    display: flex;
    flex-direction: column;
    width: 70vw;
    min-height: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    align-items:center;
    justify-content: space-between;
}

.pageSubtitle{
    padding: 15px;
    margin: 5px;
    margin-bottom: 30px;
    font-weight: bolder;
    color: #0a0a0a;
    font-size: 20px;
}

.imagesBox{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.imagesBox img{
    width: 200px;
    margin-bottom: 30px;
}

.imagesBox img:hover{
    -webkit-box-shadow: 0px 0px 30px 0px #DD962C;
    -moz-box-shadow:    0px 0px 30px 0px #DD962C;
    box-shadow:         0px 0px 30px 0px #DD962C;
}

a{
    text-decoration: none;
    color: #0A0A0A;
}

a:hover{
    color: #DD962C;
}



@media screen and (max-width: 930px) {
    .container{
        justify-content: center;
    }
    
    .rankBox{
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
    }

    .rankItem{
        width: 200px;
        margin-bottom: 15px;
        margin-top: 0;
    }

    .imagesBox{
        flex-direction: column;
        justify-items: center;
    }

    .imagesBox img{
        margin: 5px;
    }
}