@media screen and (max-width: 930px) {
    
    header{
        display: flex;
        flex-direction: column;
        height: auto;
        margin-bottom: 5px;
        max-height: 50vh;
    }

    header .Topo{
        display: flex;
        flex-direction: column;
        align-items:center;
        margin-bottom: 15px;
        
    }

    .dropdown:hover .dropdown-content {
        background-color: #4e586ae5;
      }

    header img{
        margin-bottom: 30px;
    }

    header .TopoDireita{
        flex-direction: column-reverse;
    }
    
    header .Direita{
        margin-bottom: 15px;
    }
      
    header .Barra{
        display: flex;
        flex-direction: column;
        
    } 
    
    header .leftBar{
        display: flex;
        margin-bottom: 15px;
        
    }
    
    header .rightBar{
        display: flex;
    }
    
    .Main img{
        width: 90vw;
        height: auto;
        padding: 0px;
        
    }

    body .Mid{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    body .blobMid1{
        margin-bottom: 15px;
    }

    body .blobMid2{
        margin-bottom: 15px;
    }

    body .blobMid3{
        margin-bottom: 15px;
    }

    h4{
        text-align: center;
    }
    
   
}