*{
    font-family: arial;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header{
    background-color: #0A0A0A;
    width: 100%;
    max-height: 20vh;
    display: flex;
    flex-direction: column;
    border-bottom: solid 5px #7B889E;
    justify-content: center;
}

header a{
    color: #F6AE2D;
}

header .Topo{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between; 

}

header img{
    height: 50px;
    
}

.blank{
    height: 47px;
    width: 207px;
}


header .TopoDireita{
    display: flex;
    flex-direction: row;
    font-weight: normal;
    align-items: center;
    color: #7F00FF;
    
}


header .Direita{
    font-weight: normal;
    margin-right: 5px;
    font-size: smaller;
}

#Cadastre{
    margin-right: 15px;
    padding: 15px;
    background-color: #F6AE2D;
    color: #0A0A0A;
    font-size: 15px;

}

header .LinksPrincipais{
    font-weight: bolder;
    color: #F6AE2D;
    margin-right: 15px;
}


header .Barra{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    
} 

header .leftBar{
    display: flex;
    align-items: center;
    align-content: space-between;
    margin-left: 23px;
    margin-bottom: 10px;
}

header .rightBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    margin-right: 15px;
    margin-bottom: 10px;
}

.iconeLupa{
    height: 15px;
    margin-right: 5px;
    color: #F6AE2D;
}

#formBusca{
    border: 2px solid #4E586A;
    border-radius: 5px;
    height: 25px;
    width: 100%;
    padding: 2px 2px 2px 2px;
    outline: 0;
    background-color: #f5f5f5;
}


body{
    background-color: #f5f5f5;
}

body .Container{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

body .Main{
    width: 800px;
    height: 300px;

    align-self: center;
    text-align: center;
    margin-top: 30px;
}

.Main img{
    height: 300px;
}

body .Mid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

h3{
    margin-bottom: 10px;
    color: #dd962c;   
}

body .blobMid1{
    
    border: 1px #4e586a  solid;
    padding: 20px 90px;
    text-align: left;

    -webkit-box-shadow: 0px 0px 30px 0px #4e586aa6;
    -moz-box-shadow:    0px 0px 30px 0px #4e586aa6;
    box-shadow:         0px 0px 30px 0px #4e586aa6;
}

body .blobMid2{
    border: 1px #4e586a  solid;
    padding: 20px 90px;
    display: flex;
    flex-direction: column;
    align-items: center;

    -webkit-box-shadow: 0px 0px 30px 0px #4e586aa6;
    -moz-box-shadow:    0px 0px 30px 0px #4e586aa6;
    box-shadow:         0px 0px 30px 0px #4e586aa6;
}

#iconeredmid{
    height: 80px;
}

.mailMid{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.formSignUp{
    border: 2px solid #4E586A;
    border-radius: 5px;
    height: 25px;
    width: 100%;
    outline: 0;
    background-color: #f5f5f5;
    align-items: center;
}

#envelope{
    color: #DD962C;
    size: 50px;
    margin-left: 15px;
    
}

body .blobMid3{
    border: 1px #4e586a solid;
    padding: 20px 90px;

    -webkit-box-shadow: 0px 0px 30px 0px #4e586aa6;
    -moz-box-shadow:    0px 0px 30px 0px #4e586aa6;
    box-shadow:         0px 0px 30px 0px #4e586aa6;
}

body .Bottom{
    background-image: url("/img/knittingPattern.png");
    border: 1px #323031 solid;
    padding: 20px 90px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    margin: 60px;
}

h4{
    color:#0A0A0A;
    size: 50px;
    margin-right: 15px; 
}

#envelopeindique{
    color: #0a0a0a;
    size: 50px;
    margin-left: 15px;
    
}

footer{
    background-color: #0a0a0a;
    width: 100%;

    position: fixed;
    bottom: 0px; 
    width: 100%; 
    height: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .institucionais{
 
    background-color: #0A0A0A;
    display: flex;
    align-items: center;
}

footer .rodape{
    
    margin-left: 23px;
}

footer a{
    color: #F6AE2D;
    font-weight: bolder;
}

footer .redes{
    color:#F6AE2D;
    align-content: center;
    margin-right: 20px;
}