<%- include('./partials/header') %>


    <div class="containerCategories">
        <div class="main">
            <div class="pageTitle"><%= title %></div>
            <div class="categoriesGrid">
                <div class="catItem">
                    <i class="fas fa-graduation-cap fa-2x"></i>
                    Aprendizagem
                </div>
                <div class="catItem">
                    <i class="far fa-newspaper fa-2x"></i>
                    Atualidades
                </div>
                <div class="catItem">
                    <i class="fas fa-clipboard-list fa-2x"></i>
                    Curadoria
                </div>
                <div class="catItem">
                    <i class="fas fa-film fa-2x"></i>
                    Entretenimento
                </div>
                <div class="catItem">
                    <i class="fas fa-futbol fa-2x"></i>
                    Esportes
                </div>
                <div class="catItem">
                    <i class="fas fa-calendar-alt fa-2x"></i>
                    Eventos
                </div>
                <div class="catItem">
                    <i class="fas fa-music fa-2x"></i>
                    Música
                </div>
                <div class="catItem">
                    <i class="fas fa-envelope-open-text fa-2x"></i>
                    Newsletter
                </div>
                <div class="catItem">
                    <i class="fas fa-podcast fa-2x"></i>
                    Podcast
                </div>
                <div class="catItem">
                    <i class="fas fa-user-tie fa-2x"></i>
                    Portifólio
                </div>
                <div class="catItem">
                    <i class="fas fa-paperclip fa-2x"></i>
                    Referências
                </div>
                <div class="catItem">
                    <i class="fas fa-heartbeat fa-2x"></i>
                    Saúde
                </div>
                <div class="catItem">
                    <i class="far fa-question-circle fa-2x"></i>
                    Tutoriais
                </div>
                <div class="catItem">
                    <i class="fas fa-map-marked-alt fa-2x"></i>
                    Viagem
                </div>
                <div class="catItem">
                    <i class="fab fa-youtube fa-2x"></i>
                    Vídeo
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer') %>