<%- include('./partials/headerlogin') %>
    
    <div class="containerThread">
        <button class="mainMenu"><i class="fas fa-bars fa-2x"></i></button>
        
        <div class="mainNew">
            <form action="newPost">
                <div class="imageUploads">
                    <img class="postHeaderSelection" src="./img/uploadPostHeader.gif" alt="">
                    <div class="uploadSection">
                        <label for="imgUploadFile">Selecione Imagem:</label>
                        <input type="file" id="imgUploadFile" name="imgUploadFile" accept="image/*">
                    </div>
                </div>
                <div class="breakPost">
                    <div class="leftBreakPost">
                    </div>
                    <div class="rightBreakPost">
                    </div>
                </div>
                <div class="newPostThreadTitle">
                    <input class="newPostThreadTitleBox" type="text" name="newPostThreadTitleBox"
                        placeholder="Título do Fio">
                </div>
                <div class="breakPost">
                    <div class="leftBreakPost">
                    </div>
                    <div class="rightBreakPost">
                    </div>
                </div>
                <div class="newPostThreadDescription">
                    <textarea class="newPostThreadDescriptionBox" type="text" name="newPostThreadDescriptionBox"
                        placeholder="Descrição Breve do seu Fio"></textarea>
                </div>
                <div class="breakPost">
                    <div class="leftBreakPost">
                    </div>
                    <div class="rightBreakPost">
                    </div>
                </div>
                <div class="dropdownUploadGrid">
                    <button class="dropUploadbtn"><i class="fas fa-plus fa-2x"></i></button>
                    <div class="dropdownUploadcontent">
                        <div class="categoriesGrid">
                            <div class="catItem">
                                <i class="fab fa-twitter fa-2x"></i>
                            </div>
                            <div class="catItem">
                                <i class="fab fa-facebook-f fa-2x"></i>
                            </div>
                            <div class="catItem">
                                <i class="fab fa-instagram fa-2x"></i>
                            </div>
                            <br>
                            <div class="catItem">
                                <i class="fab fa-youtube fa-2x"></i>
                            </div>
                        </div>
                        <div class="categoriesGrid">
                            <div class="catItem">
                                <i class="fab fa-spotify fa-2x"></i>
                            </div>
                            <div class="catItem">
                                <i class="fas fa-podcast fa-2x"></i>
                            </div>
                            <div class="catItem">
                                <i class="far fa-newspaper fa-2x"></i>
                            </div>
                            <br>
                            <div class="catItem">
                                <i class="fab fa-medium-m fa-2x"></i>
                            </div>
                        </div>
                        <div class="categoriesGrid">
                            <div class="catItem">
                                <i class="fab fa-blogger-b fa-2x"></i>
                            </div>
                            <div class="catItem">
                                <i class="fab fa-wordpress-simple fa-2x"></i>
                            </div>
                            <div class="catItem">
                                <i class="fas fa-map-marked-alt fa-2x"></i>
                            </div>
                            <br>
                            <div class="catItem">
                                <i class="fas fa-code fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="rightNew">
            <div class="settingsBar1">
                <h3>Configurações do Fio</h3>
            </div>
            <div class="settingsBar2">
                <div class="settingsBarSplit">
                    <button class="customSettings">Alterar Background</button>
                    <button class="customSettings">Alterar Cor Fonte</button>
                </div>
                <div class="settingsBarSplit">
                    <button class="customSettings">Alterar Cor Card</button>
                    <button class="customSettings">Alterar Cor Borda</button>
                </div>
            </div>
            <div class="settingsBar3">
                <label for=""name="order">Tipo Ordenação</label>
                <br>
                <input type="radio" name="order">Numeração Automática
                <br>
                <input type="radio" name="order">Numeração Manual em Tempo
                <br>
                <label for="">Definir Categoria do Fio</label>
                <br>
                <select name="category" id="category">
                    <option value="0" disabled selected>Escolha</option>
                    <option value="1">Aprendizagem</option>
                    <option value="2">Atualidades</option>
                    <option value="3">Curadoria</option>
                    <option value="4">Entretenimento</option>
                    <option value="5">Esportes</option>
                    <option value="6">Eventos</option>
                    <option value="7">Música</option>
                    <option value="8">Newsletter</option>
                    <option value="9">Podcast</option>
                    <option value="10">Portfolio</option>
                    <option value="11">Referências</option>
                    <option value="12">Saúde</option>
                    <option value="13">Tutoriais</option>
                    <option value="14">Viagem</option>
                    <option value="15">Vídeo</option>
                </select>
                <br>
                <input type="checkbox" disabled>Desabilitar Fio
            </div>
            <div class="settingsBar4">
                <button class="publishPost">Publicar</button>
                <p><a href="#">Salvar Rascunho</a></p>
            </div>
            <div class="settingsBar5">
                <button class="deletePost">Apagar Publicação</button>
            </div>
        </div>

    </div>

<%- include('./partials/footer') %>