<% if (user !=undefined) { %>
    <%- include('./partials/headerlogin') %>


        <%} else{ %>
            <%- include('./partials/header') %>
                <% } %>

                    <div class="containerRanking">
                        <div class="main">
                            <div class="pageTitle">
                                <%= title %>
                            </div>
                            <div class="rankBox">
                                <div class="rankItem">
                                    <ul>Mais Curtidos da Semana</ul>
                                    <li><a href="#">Listagem de Fios</a></li>
                                    <li><a href="#">Listagem de Fios</a></li>
                                    <li><a href="#">Listagem de Fios</a></li>
                                    <li><a href="#">Listagem de Fios</a></li>
                                    <li><a href="#">Listagem de Fios</a></li>
                                </div>
                                <div class="rankItem">
                                    <ul>Mais Compartilhados da Semana</ul>
                                    <li><a href="#">Listagem de Fios</a></li>
                                    <li><a href="#">Listagem de Fios</a></li>
                                    <li><a href="#">Listagem de Fios</a></li>
                                    <li><a href="#">Listagem de Fios</a></li>
                                    <li><a href="#">Listagem de Fios</a></li>
                                </div>
                            </div>
                            <div class="rankBox">
                                <div class="rankItem">
                                    <ul>Mais Curtidos Geral</ul>
                                    <li><a href="#">Listagem de Fios</a></li>
                                    <li><a href="#">Listagem de Fios</a></li>
                                    <li><a href="#">Listagem de Fios</a></li>
                                    <li><a href="#">Listagem de Fios</a></li>
                                    <li><a href="#">Listagem de Fios</a></li>
                                </div>
                                <div class="rankItem">
                                    <ul>Mais Compartilhados Geral</ul>
                                    <li><a href="#">Listagem de Fios</a></li>
                                    <li><a href="#">Listagem de Fios</a></li>
                                    <li><a href="#">Listagem de Fios</a></li>
                                    <li><a href="#">Listagem de Fios</a></li>
                                    <li><a href="#">Listagem de Fios</a></li>
                                </div>
                            </div>
                            <div class="topCategoriesBox">
                                <div class="pageSubtitle">Top Categorias</div>
                                <div class="imagesBox">
                                    <a href=""><img src="/images/newsbanner.png" alt=""></a>
                                    <a href=""><img src="/images/podcastbanner.png" alt=""></a>
                                    <a href=""><img src="/images/travelbanner.png" alt=""></a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <%- include('./partials/footer') %>