<%- include('./partials/header') %>


    <div class="containerSignUp">
        <div class="mainBox">
            <h2>Cadastre-se!</h2>
            <div class="signUpBox">
                <form action="" method="post">
                    <label for="fullName">Nome Completo</label>
                    <input name="fullName" type="text" placeholder="digite seu nome">
                    <br>
                    <label for="username">Usuário</label>
                    <input name="username" type="text" placeholder="@usuário">
                    <br>
                    <label for="email">Email</label>
                    <input name="email" type="emai" placeholder="email@email.com">
                    <label for="emailConfirmation">Confirmar email</label>
                    <input name="emailConfirmation" type="email" placeholder="email@email.com">
                    <br>
                    <label for="phone">Celular</label>
                    <input name="phone" type="text" placeholder="(XX) XXXXX-XXXX">
                    <label for="phoneConfirmation">Confirmar celular</label>
                    <input name="phoneConfirmation" type="text" placeholder="(XX) XXXXX-XXXX">
                    <br>
                    <label for="password">Senha</label>
                    <input name="password" type="password" placeholder="digite sua senha">
                    <label for="passwordConfirmation">Confirmar senha</label>
                    <input name="passwordConfirmation" type="password" placeholder="confirme sua senha">
                    <br>
                    <label for="bioUpdate">Bio</label>
                    <textarea class="bioUpdate" name="bioUpdate" id="bioUpdate" cols="30" rows="5"
                        placeholder="Fale um pouco sobre você"></textarea>
                    <label for="avatar">Avatar</label>
                    <input type="file" name="avatar" accept="image/*">
                    <br>
                    <button type="submit">Cadastrar</button>
                    <br>
                </form>
            </div>

        </div>
    </div>

    <%- include('./partials/footer') %>