<%- include('./partials/headerlogin') %>

    <div class="containerTMgmt">
        <button class="mainMenu"><i class="fas fa-bars fa-2x"></i></button>
        <div class="main">
            <h2><%= title %></h2>
            <div class="recentData">
                <div class="recentBox">
                    <div class="recentTitle">
                        <h4>Últimos Rascunhos</h4>
                    </div>
                    <div class="recentResults">
                        <ul>
                            <li>Fio Rascunho 1 <a href="#"><i class="fas fa-edit"></i></a></li>
                            <li>Fio Rascunho 2 <a href="#"><i class="fas fa-edit"></i></a></li>
                            <li>Fio Rascunho 3 <a href="#"><i class="fas fa-edit"></i></a></li>
                            <li>Fio Rascunho 4 <a href="#"><i class="fas fa-edit"></i></a></li>
                        </ul>
                    </div>
                    <nav class="pageResults">
                        <i class="fas fa-step-backward"></i>
                        <i class="fas fa-chevron-left"></i>
                        <p>Página 1 de 2</p>
                        <i class="fas fa-chevron-right"></i>
                        <i class="fas fa-step-forward"></i>
                    </nav>
                </div>
                <div class="recentBox">
                    <div class="recentTitle">
                        <h4>Últimos Fios Postados</h4>
                    </div>
                    <div class="recentResults">
                        <ul>
                            <li>Fio Postado 4
                                <a href="#"><i class="fas fa-edit"></i></a>
                                <a href="#"><i class="fas fa-eye"></i></a>
                                <i class="fas fa-share-alt"></i>
                                <output>00</output>
                                <i class="far fa-heart"></i>
                                <output>00</output>
                            </li>
                            <li>Fio Postado 3
                                <a href="#"><i class="fas fa-edit"></i></a>
                                <a href="#"><i class="fas fa-eye"></i></a>
                                <i class="fas fa-share-alt"></i>
                                <output>00</output>
                                <i class="far fa-heart"></i>
                                <output>00</output>
                            </li>
                            <li>Fio Postado 2
                                <a href="#"><i class="fas fa-edit"></i></a>
                                <a href="#"><i class="fas fa-eye"></i></a>
                                <i class="fas fa-share-alt"></i>
                                <output>00</output>
                                <i class="far fa-heart"></i>
                                <output>00</output>
                            </li>
                            <li>Fio Postado 1
                                <a href="#"><i class="fas fa-edit"></i></a>
                                <a href="#"><i class="fas fa-eye"></i></a>
                                <i class="fas fa-share-alt"></i>
                                <output>00</output>
                                <i class="far fa-heart"></i>
                                <output>00</output>
                            </li>
                        </ul>
                        <nav class="pageResults">
                            <i class="fas fa-step-backward"></i>
                            <i class="fas fa-chevron-left"></i>
                            <p>Página 1 de 2</p>
                            <i class="fas fa-chevron-right"></i>
                            <i class="fas fa-step-forward"></i>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="allMyThreads">
                <div class="allThreadsTitle">
                    <h4>Todos</h4>
                    <form>
                        <select id="filter" name="filtro">
                            <option value="0" selected disabled>Filtro</option>
                            <option value="posted">Data postagem (mais antigos)</option>
                            <option value="posted">Data postagem (mais novos)</option>
                            <option value="liked">Mais curtidos</option>
                            <option value="shared">Mais compartilhados</option>
                            <option value="shared">Rascunhos</option>
                        </select>
                    </form>
                </div>
                <div class="allThreadsResults">
                    <ul>
                        <li>Fio Postado 4
                            <a href="#"><i class="fas fa-edit"></i></a>
                            <a href="#"><i class="fas fa-eye"></i></a>
                            <i class="fas fa-share-alt"></i>
                            <output>00</output>
                            <i class="far fa-heart"></i>
                            <output>00</output>
                        <li>Fio Rascunho 1 <a href="#"><i class="fas fa-edit"></i></a></li>
                        <li>Fio Rascunho 2 <a href="#"><i class="fas fa-edit"></i></a></li>
                        <li>Fio Rascunho 3 <a href="#"><i class="fas fa-edit"></i></a></li>
                        <li>Fio Rascunho 4 <a href="#"><i class="fas fa-edit"></i></a></li>
                        </li>
                        <li>Fio Postado 4
                            <a href="#"><i class="fas fa-edit"></i></a>
                            <a href="#"><i class="fas fa-eye"></i></a>
                            <i class="fas fa-share-alt"></i>
                            <output>00</output>
                            <i class="far fa-heart"></i>
                            <output>00</output>
                        </li>
                        <li>Fio Postado 3
                            <a href="#"><i class="fas fa-edit"></i></a>
                            <a href="#"><i class="fas fa-eye"></i></a>
                            <i class="fas fa-share-alt"></i>
                            <output>00</output>
                            <i class="far fa-heart"></i>
                            <output>00</output>
                        </li>
                        <li>Fio Postado 2
                            <a href="#"><i class="fas fa-edit"></i></a>
                            <a href="#"><i class="fas fa-eye"></i></a>
                            <i class="fas fa-share-alt"></i>
                            <output>00</output>
                            <i class="far fa-heart"></i>
                            <output>00</output>
                        </li>
                    </ul>
                    <nav class="pageResults">
                        <i class="fas fa-step-backward"></i>
                        <i class="fas fa-chevron-left"></i>
                        <p>Página 1 de 3</p>
                        <i class="fas fa-chevron-right"></i>
                        <i class="fas fa-step-forward"></i>

                    </nav>
                </div>
            </div>
        </div>


    </div>

<%- include('./partials/footer') %>